/* *{
  box-shadow : 0px 0px 10px 10px rgba(226, 200, 252, 0.221);
  box-shadow : 0px 0px 10px 10px rgba(252, 248, 200, 0.221);
  border-radius: 20px;
} */

body,html{
  margin: 0;
  padding: 0;
  overflow: hidden;
}